
.navbar-nav .nav-link {
  position: relative;
  color: #fff;
}

.navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
  background-color: #fff;
}
.navbar {
  height: 80px; 
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 800;
	line-height: 1.2;
	color: var(--bs-heading-color,inherit);
}
.lead {
    font-size: 1.25rem;
    font-weight: 600;
}
 .nav-link {
    color: white;
}
.nav-link:hover {
    color: black;
}
/* .float-start {
    max-height: 60vh;} */
    .py-4 {
        padding-top: 4.5rem !important;
    }
    /* .float-end{ 
        height: 80vh;} */
        
        ul{list-style: none;}
        a {
            /* color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); */
            text-decoration: underline;
            text-decoration-color: red;
            font-size: 20px;
            color: red;
            font-weight: bolder;
        }
        
       .text-danger {padding-top: 55px;}

       .navbar-brand {
        text-decoration-color: azure;
        color: white;
    }


    .text-white{text-decoration: none;}

    .map-container {
        height: 230px;
        position: relative;
      }

      .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
      
      .mx-2{font-weight: bolder;}

      .btn-primary {
        height: min-content;
    }


