
.navbar-nav .nav-link {
  position: relative;
  color: #fff;
}

.navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
  background-color: #fff;
}
.navbar {
  height: 80px; 
}

